<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Truck Management System</title>
    
    <!-- CSS Files -->
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/App.css">
    <link rel="stylesheet" href="/css/Login.css">
    <link rel="stylesheet" href="/css/AdminDashboard.css">
    <link rel="stylesheet" href="/css/Sidebar.css">
    <link rel="stylesheet" href="/css/MobileHeader.css">
    <link rel="stylesheet" href="/css/MetricCard.css">
    <link rel="stylesheet" href="/css/RecentActivity.css">
    <link rel="stylesheet" href="/css/Users.css">
    <link rel="stylesheet" href="/css/Trucks.css">
    <link rel="stylesheet" href="/css/Drivers.css">
    <link rel="stylesheet" href="/css/Journeys.css">
    <link rel="stylesheet" href="/css/Reports.css">
    <link rel="stylesheet" href="/css/Profile.css">
</head>
<body>
    <% if (typeof user !== 'undefined' && user) { %>
        <!-- Authenticated Layout -->
        <%- include('../partials/mobile-header', { user: user }) %>
        <%- include('../partials/sidebar', { user: user }) %>
        <main class="dashboard-main">
            <%- body %>
        </main>
    <% } else { %>
        <!-- Login Layout -->
        <%- body %>
    <% } %>
    
    <!-- JavaScript -->
    <script src="/js/app.js"></script>
</body>
</html>